<!DOCTYPE html>
{% load string_helpers %}
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Veyfly</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Veyfly</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/destinations/">Destinations</a>
          </li>
        </ul>
      </div>
    </div>
</nav>
<div class="container text-center">
    </br>
    {{ destination_city }}, {{ destination_country }}
    <table class="table table-dark table-striped">
        <caption>Likelihood of problems from 1 (not likely) to 100 (very likely).</caption>
        <thead>
        <tr>
            <th scope="col">Area</th>
            <th scope="col">Overall Safety</th>
            <th scope="col">Health Concerns</th>
            <th scope="col">LGBTQ Safety</th>
            <th scope="col">Physical Threats</th>
            <th scope="col">Theft</th>
            <th scope="col">Political Freedom</th>
            <th scope="col">Women's Safety</th>
        </tr>
        </thead>
        <tbody>
        {% for area in areas %}
        <tr>
            <th scope="row"><a target="_blank" href="https://www.google.com/maps/search/?api=1&query={{ area.geoCode.latitude }}%2C{{ area.geoCode.longitude }}">{{ area.subType }}: {{ area.name }}</a></th>
            <td style="color:rgb{{area.safetyScores.overall|get_safety_colour}}">{{ area.safetyScores.overall }}</td>
            <td style="color:rgb{{area.safetyScores.medical|get_safety_colour}}">{{ area.safetyScores.medical }}</td>
            <td style="color:rgb{{area.safetyScores.lgbtq|get_safety_colour}}">{{ area.safetyScores.lgbtq }}</td>
            <td style="color:rgb{{area.safetyScores.physicalHarm|get_safety_colour}}">{{ area.safetyScores.physicalHarm }}</td>
            <td style="color:rgb{{area.safetyScores.theft|get_safety_colour}}">{{ area.safetyScores.theft }}</td>
            <td style="color:rgb{{area.safetyScores.politicalFreedom|get_safety_colour}}">{{ area.safetyScores.politicalFreedom }}</td>
            <td style="color:rgb{{area.safetyScores.women|get_safety_colour}}">{{ area.safetyScores.women }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>