<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Flapware</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="">Flapware</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="">Home</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container text-center">
    <form action="" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Search">
    </form>
    {% if results_form %}
        <br/>
        <form action="/save-home" method="post">
            {% csrf_token %}
            {{ results_form }}
            <input type="submit" value="Save">
        </form>
    {% endif %}
    {% if home_airports %}
        </br>
        Home Airports:
        <br/>
        {% for iata, name in home_airports.items %}
            {{ name }} ( {{ iata }} ) <br/>
        {% endfor %}
    {% endif %}
</div>
</body>
</html>